{% extends 'accueil.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}

<div class="container-fluid" id="accueil-container">
    <div class="row">
        <div class="col-md-7 p-0" id="div1">
            <img src={{asset('images/post-it.jpg')}} alt="image" style="width: 100%; height : 100%;  max-height: 100%;  max-width: 100%;  object-fit: cover; object-position: 40% 50%">
        </div>
        <div class="col-md-5 p-5 m-0" id="div2" style="background-color:#333333">
            <form method="post" class="align-items-center">
                {% if error %}
                    <div class="alert alert-danger mt-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-4 alert alert-success">
                        Vous êtes connecté avec le mail:  {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">déconnexion</a>. 
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <a href="{{ path('app_booking_calendar')}}">Allez sur le site</a>
                        {% else %}
                            <a href="#">Allez sur le site</a>
                        {% endif %}
                    
                    </div>
                {% endif %}
                <div class="d-flex justify-content-center">
                    <img src={{asset('images/logo.png')}} alt="logo" style="width:200px">
                </div>
                <div class="d-flex justify-content-center pt-5">
                    <h1 class="h3 mb-3 font-weight-normal text-white">Bienvenue sur le site Planning du GROUPE SR3</h1>
                </div>
                <div class="d-flex justify-content-center pt-5">
                    <h1 class="h3 mb-3 font-weight-normal text-white">Authentification</h1>
                </div>
                <div class="d-flex">
                    <label for="inputEmail" class="text-white h4">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control ms-2" autocomplete="email" required autofocus>
                </div>
                <div class="d-flex pt-4">
                    <label for="inputPassword" class="text-white h4">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control ms-2" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <div class="text-center pt-3">
                    <label class="text-white h4">
                        Se souvenir de moi
                        <input type="checkbox" name="_remember_me" checked/>
                    </label>
                </div>
                
                <div class="d-flex justify-content-center">
                    <button class="btn btn-lg btn-primary mt-4" type="submit">
                        Connexion
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
