{% extends 'base_front.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="d-flex flex-wrap">
			<div class="col-md-10 p-0 m-0" id="div1">
				<div id="calendar-holder"></div>
			</div>
			<div class="col-md-2 m-0" id="div2">
                <h2 class="text-center mt-5">{{ user.prenom }} {{ user.nom }}</h2>
				<h5 class="text-center mt-5">Centres:</h5>
				<div class="d-flex flex-column">
					{% for centre in centres %}
						<a class="text-center m-1 text-white btn" style="background-color: {{ centre.couleur }}; border-radius:5px;">
							{{ centre.nom }}
                        </a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css'>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales-all.min.js"></script>

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'fr-FR',
                themeSystem: 'bootstrap5',
                timeZone: 'Europe/Paris',
                displayEventTime: false,
                editable: false, 
                {# eventResizableFromStart: true #}
                eventDisplay: 'block',
                weekends: false,
                nextDayThreshold: "00:00:00",
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                                filters: JSON.stringify(
                                    {% if is_granted('ROLE_ADMIN') %}
                                    {"user": "-1"}
                                    {% else %}
                                    {"user": "{{ app.user.id }}"}
                                    {% endif %}
                                )
                            },
                        failure: () => {
                        alert("There was an error while fetching FullCalendar!");
                        }
                    },
                ],
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventDidMount: function (info) {
                    var matin = info.event.extendedProps.matin;
                    var aprem = info.event.extendedProps.aprem;
                    var day = ((matin && aprem) ? true : false);
                    var tooltip = new bootstrap.Tooltip(info.el, {
                        title:  "<div>" + info.event.extendedProps.formateur + 
                                "</div><div> " + info.event.start.toLocaleString('fr-FR', {
                                                            day: '2-digit',
                                                            month: 'long',
                                                            year: 'numeric'}) + 
                                "</div><div> " + info.event.end.toLocaleString('fr-FR', {
                                                            day: '2-digit',
                                                            month: 'long',
                                                            year: 'numeric'}) + 
                                "</div><div> " + (day ? "Matin + Après-midi" : (matin ? "Matin" : "Après-midi")) + 
                                "</div>",
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body',
                        html: true
                    });
                }
            });
            calendar.render();
        });
    </script>
{% endblock %}
