<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Back-end{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="https://fonts.cdnfonts.com/css/calibri-light" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset('bundles/dyg81modal/css/ajax-progress.css') }}">
        <link rel="stylesheet" href={{asset('style.css')}}>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light" role="navigation">
            <div class="container-fluid mx-4">
                <a class="navbar-brand" href="{{path('app_booking_formateur')}}"><img src={{asset('images/logo.png')}} alt="logo" style="width:100px"></a>
                <div class="d-flex flex-row align-items-center" id="nav">
                    <div><a class="btn btn-danger ms-5" href={{path('app_logout')}} >Déconnexion</a></div>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}
        <footer class="row row-cols-md-3 p-3 m-0" id="footer-accueil" style="background-color:#fff">
            <div class="col">
                <ul class="nav flex-column">
                    <li class="nav-item"><p class="m-0 p-0 text-muted">99 Rue de Conflans</p></li>
                    <li class="nav-item"><p class="m-0 p-0 text-muted">95220 Herblay-sur-seine</p></li>
                    <li class="nav-item"><p class="m-0 p-0 text-muted">Tél : 01.42.03.77.00</p></li>
                    <li class="nav-item"><p class="m-0 p-0 text-muted">Email : groupesr3@gmail.com</p></li>
                </ul>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <p class="text-muted">GROUPESR3 &copy; 2022</p>
            </div>
            <div class="col">
            </div>
        </footer>
        <!-- JavaScript Bundle with Popper -->
        <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script  src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script  src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/fr.js"></script>
        <script  src="{{ asset('bundles/dyg81modal/js/scripts.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('.select2').select2({
                    "language": "fr"
                });
            })
        </script>
    </body>
</html>